.about-project__progress-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 110px;
}

@media screen and (max-width: 900px) {
  .about-project__progress-bar {
    margin-top: 93px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__progress-bar {
    margin-top: 60px;
  }
}
