.search-form__loupe {
  background: url(../../../images/search-form__loupe.png) center no-repeat;
  background-size: 34px;
  width: 34px;
  height: 34px;
}

@media screen and (max-width: 600px) {
  .search-form__loupe {
    display: none;
  }
}
