.movies-card__delete {
  background: url(../../../images/movies-card_delete.png) center no-repeat;
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  transition: all 0.3s ease;
}

.movies-card__delete:hover {
  transform: scale(1.2);
}
