.nopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}
