@import url(../../blocks/nopage/nopage.css);
@import url(../../blocks/nopage/__title/nopage__title.css);
@import url(../../blocks/nopage/__subtitle/nopage__subtitle.css);
@import url(../../blocks/nopage/__button/nopage__button.css);
