.portfolio__item {
  border-bottom: 1px solid #424242;
  margin: 10px 0 20px;
  padding: 0 0 8px;
}

.portfolio__item:last-child {
  border-bottom: none;
}

@media screen and (max-width: 600px) {
  .portfolio__item {
    padding: 0 0 18px;
  }
}
