.portfolio__heading {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 50px;
  color: #8b8b8b;
}

@media screen and (max-width: 900px) {
  .portfolio__heading {
    margin: 0 0 43px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__heading {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px;
  }
}
