.navigation__burger {
  display: none;
  background: url(../../../images/burger.png) center no-repeat;
  background-size: 44px 44px;
  width: 44px;
  height: 44px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 4;
}

@media screen and (max-width: 900px) {
  .navigation__burger {
    display: block;
  }
}
